{% extends "admin/change_list.html" %}

{% block content %}
  {% if search_log_summary %}
    <div class="module">
      <table>
        <caption>Сводка по выбранным фильтрам</caption>
        <thead>
          <tr>
            <th scope="col">Поисков</th>
            <th scope="col">Уникальных посетителей</th>
            <th scope="col">Авторизованных пользователей</th>
            <th scope="col">Без результатов</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ search_log_summary.searches }}</td>
            <td>{{ search_log_summary.visitors }}</td>
            <td>{{ search_log_summary.registered_users }}</td>
            <td>{{ search_log_summary.no_results }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endif %}
  {{ block.super }}
{% endblock %}
